APP_NAME=EvidAI API
APP_ENV=development
DEBUG=true

DATABASE_URL=postgresql://username:password@localhost:5432/evidai
Redis_URL=redis://localhost:nnnn/n

JWT_SECRET_KEY=your-long-random-secret-key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30